form#form-reserva
    .field.is-horizontal
        .field-label.is-normal.is-small
            label.label(for="userId") User Code: 
        .field-body
            .field.has-addons
                p.control.is-expanded
                    input#userId.input.is-small.is-rounded.is-primary(type='text', placeholder='' name='userId')
            
            .field-label.is-normal.is-small
                label.label(for="labId") Lab Code:
            .field.has-addons
                p.control.is-expanded
                    input#labId.input.is-small.is-rounded.is-primary(type='text', placeholder='' name='LabId')
            .field-label.is-normal.is-small
                label.label(for="dateMade") Fecha realizacion:
            .field.has-addons
                p.control.is-expanded
                    input#date-created.input.is-small.is-rounded.is-primary(type='datetime-local', placeholder='' name='dateMade')
    .field.is-horizontal
        .field-label
        .field-body
            .field.is-grouped
                .control       
                    button#btn-principal.button.is-small.is-success.is-primary Crear
                .control       
                    button#btn-actualizar.button.is-small.is-hidden Actualizar
            
                .control  
                    button#btn-limpiar.button.is-small.is-danger Limpiar
                p.control.is-expanded
                    input#filtros.input.is-small.is-rounded.is-primary(placeholder="Buscar por nombre")
                p.control
                    a#btn-buscar.button.is-small.is-info.is-rounded Buscar