form#form-principal
    .field.is-horizontal
        .field-label.is-normal.is-small
            label.label(for="nombre") Nombre: 
        .field-body
            .field.has-addons
                p.control.is-expanded
                    input#name.input.is-small.is-rounded.is-primary(type='text', placeholder='' name='name')
            .field-label.is-normal.is-small
                label.label.is-small(for="codigo") Codigo:
            .field.has-addons
                p.control.is-expanded
                    input#code.input.is-small.is-rounded.is-primary(type='text', placeholder='' name='name')
    
            .field-label.is-normal.is-small
                label.label(for="name") Capacidad:
        
            .field.has-addons
                p.control.is-expanded
                    input#capacity.input.is-small(type='number', placeholder='' name='name')    
    
    
    .field.is-horizontal
        .field-label.is-normal.is-small
            label.label(for="edificio") Edificio:
        .field-body
            .field.has-addons
                .control.is-expanded
                    .select.is-fullwidth.is-small
                        select#opciones-edificios(name="building")
            .field-label.is-normal.is-small
                label.label(for="encargado") Encargado:
            .field.has-addons
                .control.is-expanded
                    .select.is-fullwidth.is-small
                        select#opciones-inCharge(name="inCharge")
        
    .field.is-horizontal
        .field-label
        .field-body
            .field.is-grouped
                .control       
                    button#btn-principal.button.is-small.is-success.is-primary Crear
                .control       
                    button#btn-actualizar.button.is-small.is-info.is-hidden Actualizar
            
                .control  
                    button#btn-limpiar.button.is-small.is-danger Limpiar
                p.control.is-expanded
                    input#filtros.input.is-small.is-rounded.is-primary(placeholder="Buscar por nombre")
                p.control
                    a#btn-buscar.button.is-small.is-info.is-rounded Buscar