nav.navbar
  .container
    #navbarMenu.navbar-menu
      .navbar-end
        a.navbar-item.is-active
          | Laboratorios UCA
        if !usad 
          .navbar-item.has-dropdown.is-hoverable
            a.navbar-link
              | Cuenta
            .navbar-dropdown
              a.navbar-item(href='/main')
                | Principal 
              a.navbar-item(href='/reservas')
                | Hacer reserva
              hr.navbar-divider
              a.navbar-item(href="/profile")
                |Perfil
              a.navbar-item(href='/logout')
                | Logout
        else
          .navbar-item.has-dropdown.is-hoverable
            a.navbar-link
              | Administrar
            .navbar-dropdown
              a.navbar-item(href='/main')
                | Main 
              a.navbar-item(href='/admin/laboratorios')
                | Laboratorios
              a.navbar-item(href='/admin/users')
                | Usuarios
              a.navbar-item(href='/admin/reservas')
                | Reservas
              hr.navbar-divider
              a.navbar-item(href='/reservas')
                | Hacer reservas
              a.navbar-item(href="/profile")
                | Profile
              a.navbar-item(href='/logout')
                | Logout