nav.navbar
  .container
    #navbarMenu.navbar-menu
      .navbar-end
        a.navbar-item.is-active
          | Laboratorios
        .navbar-item.has-dropdown.is-hoverable
          a.navbar-link
            | Cuenta
          .navbar-dropdown
            a.navbar-item(href='/profile')
              | Perfil 
            a.navbar-item
              | Administrar
            hr.navbar-divider
            a.navbar-item(href='/logout')
              | Logout
