nav.navbar.has-background-dark(role='navigation' aria-label='main navigation')
  .navbar-brand
    a#topNav.navbar-burger.burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbarBasicExample')
      span(aria-hidden='true').has-background-white
      span(aria-hidden='true').has-background-white
      span(aria-hidden='true').has-background-white
  #navbarBasicExample.navbar-menu
      a.navbar-item.is-active.navbar-end.is-four-fifths.has-background-dark.has-text-light(href='/main')
        | Laboratorios UCA
      if !usad 
        .navbar-item.has-dropdown.is-hoverable.has-text-light.has-background-dark
          a.navbar-link.has-text-light.has-background-dark
            | Cuenta
          .navbar-dropdown.has-background-dark
            a.navbar-item.has-text-light(href='/main')
              | Principal 
            a.navbar-item.has-text-light(href='/reservas')
              | Hacer reserva
            hr.navbar-divider
            a.navbar-item.has-text-light(href="/profile")
              |Perfil
            a.navbar-item.has-text-light(href='/logout')
              | Logout
      else
        .navbar-item.has-dropdown.is-hoverable.has-background-dark.has-text-light
          a.navbar-link.has-background-dark.has-text-light
            | Administrar
          .navbar-dropdown.has-background-dark.has-text-light
            a.navbar-item.has-background-dark.has-text-light(href='/main')
              | Main 
            a.navbar-item.has-text-light(href='/admin/laboratorios')
              | Laboratorios
            a.navbar-item.has-text-light(href='/admin/users')
              | Usuarios
            a.navbar-item.has-text-light(href='/admin/reservas')
              | Reservas
            hr.navbar-divider.
            a.navbar-item.has-text-light(href='/reservas')
              | Hacer reservas
            a.navbar-item.has-text-light(href="/profile")
              | Profile
            a.navbar-item.has-text-light(href='/logout')
              | Logout

