extends layout

block header
  include header

block content
  #calendar
block scripts
  
  script(src='/fullcalendar/core/main.js')
  script(src='/fullcalendar/daygrid/main.js')
  script(src="/fullcalendar/timegrid/main.js")
  script(src='/javascript/main.js')
  