extends layout

block header
  include header
  link(href='fullcalendar/core/main.css' rel='stylesheet')
  link(href='fullcalendar/daygrid/main.css' rel='stylesheet')
  link(href='fullcalendar/timegrid/main.css' rel='stylesheet')
  link(href='fullcalendar/list/main.css' rel='stylesheet')
  link(href='fullcalendar/timeline/main.css' rel='stylesheet')
  link(href='fullcalendar/resource-timeline/main.css' rel='stylesheet')
  script(src='fullcalendar/core/main.js')
  script(src='fullcalendar/core/locales-all.js')
  script(src='fullcalendar/interaction/main.js')
  script(src='fullcalendar/daygrid/main.js')
  script(src='fullcalendar/timegrid/main.js')
  script(src='fullcalendar/list/main.js')
  script(src="javascript/main.js")
  script(src='fullcalendar/timeline/main.js')
  script(src='fullcalendar/resource-common/main.js')
  script(src='fullcalendar/resource-timeline/main.js')

block content
  .section
    .container
      #top
        | Idioma: 
        select#locale-selector
      #calendar

block footer
  include footer

block scripts
  
  
  