extends layout_admin

block header
    .container.has-text-centered
        h1 Laboratorios
block content
    .container
        .section#formulario.has-background-white-ter
            include form_lab
    .container#lista



block scripts
    script(src="/javascript/admin_labs.js")