doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title= title
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.css')
    link(href='fullcalendar/core/main.css' rel='stylesheet')
    link(href='fullcalendar/daygrid/main.css' rel='stylesheet')
    link(href='fullcalendar/timegrid/main.css' rel='stylesheet')

    

  body
    section.section
      .container
        block header
        block content
        block footer
        block scripts
