form(action="/login", method="post")
    .container.has-text-centered
        .column.is-4.is-offset-4
            h3.title.has-text-grey-dark Login
            hr.login-hr
            p.subtitle.has-text-grey-dark Please login to proceed.
    .field
        label.label.column.is-offset-3(for="code") Code:
        .control
            input#code.input.column.is-half.is-offset-one-quarter.is-rounded.is-info(type='text', placeholder='' name='code')

    .field
        label.label.column.is-offset-3(for='pw') Password:
        .control
            input#pw.input.column.is-half.is-offset-one-quarter.is-rounded.is-info(type='password' name='password')
    
    button.button.is-info.column.is-half.is-offset-one-quarter.is-1.is-fullwidth(type='submit') Sign in
    p.has-text-grey