#verHorario.modal
    .modal-background
    .modal-card
        header.modal-card-head
            p.modal-card-title Horarios de reserva
            button#closeHorariox.delete(aria-label='close')
        section#contenidoHorarios.modal-card-body
            // Content ...
        footer.modal-card-foot
            button#closeHorario.button OK

#verDescripcion.modal
    .modal-background
    .modal-card
        header.modal-card-head
            p.modal-card-title Descripción de reserva
            button#closeDescripx.delete(aria-label='close')
        section#contenidoDescrip.modal-card-body
            // Content ...
        footer.modal-card-foot
            button#closeDescripcion.button OK