nav.pagination.is-centered(role='navigation' aria-label='pagination')
  button#anterior.pagination-previous Previous
  button#siguiente.pagination-next Next page
  ul.pagination-list
    
    li
      button#pagina1.pagination-link(aria-label='Goto page 1') 1
    li
      button#pagina2.pagination-link.is-current(aria-label='Page 2' aria-current='page') 2
    li
      button#pagina3.pagination-link(aria-label='Goto page 3') 3
