form(action="/register", method="post")
    .container.has-text-centered
        .column.is-4.is-offset-4
            h3.title.has-text-grey-dark Registation
            hr.login-hr
            p.subtitle.has-text-grey-dark Please complete the fields.
    
    .field
        label.label.column.is-offset-3(for="name") Name:
        .control
            input#name.input.column.is-half.is-offset-one-quarter.is-rounded.is-success(type='text', placeholder='' name='name')
    .field
        label.label.column.is-offset-3(for="code") Codigo:
        .control
            input#code.input.column.is-half.is-offset-one-quarter.is-rounded.is-success(type='text', placeholder='' name='code')
    .field
        label.label.column.is-offset-3(for="email") Email:
        .control
            input#email.input.column.is-half.is-offset-one-quarter.is-rounded.is-success(type='email', placeholder='name@gmail.com' name='email')

    .field
        label.label.column.is-offset-3(for='pw') Password:
        .control
            input#pw.input.column.is-half.is-offset-one-quarter.is-rounded.is-success(type='password' name='password')
    
    .field
        label.label.column.is-offset-3(for='pw2') Confirm Password:
        .control
            input#pw2.input.column.is-half.is-offset-one-quarter.is-rounded.is-success(type='password' name='confirmPassword')
    .field
        label.label
        .control
            button.button.is-dark.is-success.column.is-half.is-offset-one-quarter.is-1.is-fullwidth(type='submit') Sign up 