form(action="/register", method="post")
        .field
            label.label(for="name") Name:
            .control
                input#name.input.is-success(type='text', placeholder='' name='name')
        .field
            label.label(for="code") Codigo:
            .control
                input#code.input(type='text', placeholder='' code='code')
        .field
            label.label(for="email") Email:
            .control
                input#email.input(type='email', placeholder='name@gmail.com' code='email')

        .field
            label.label(for='pw') Password:
            .control
                input#pw.input(type='password' name='password')
        
        .field
            label.label(for='pw2') Confirm Password:
            .control
                input#pw2.input(type='password' name='confirmPassword')
        button.button(type='submit') Sign up