extends layout_all

block header
    include header
    link(href='jscss/bootstrap.min.css' rel='stylesheet' media='screen')
    link(href='jscss/bootstrap-datetimepicker.min.css' rel='stylesheet' media='screen')
    link(href='fullcalendar/core/main.css' rel='stylesheet')
    link(href='fullcalendar/daygrid/main.css' rel='stylesheet')
    link(href='fullcalendar/timegrid/main.css' rel='stylesheet')
    link(href='fullcalendar/list/main.css' rel='stylesheet')
    link(href='fullcalendar/timeline/main.css' rel='stylesheet')
    link(href='fullcalendar/resource-timeline/main.css' rel='stylesheet')
    script(src='fullcalendar/core/main.js')
    script(src='fullcalendar/core/locales-all.js')
    script(src='fullcalendar/interaction/main.js')
    script(src='fullcalendar/daygrid/main.js')
    script(src='fullcalendar/timegrid/main.js')
    script(src='fullcalendar/list/main.js')
    script(src="javascript/main.js")
    script(src='fullcalendar/timeline/main.js')
    script(src='fullcalendar/resource-common/main.js')
    script(src='fullcalendar/resource-timeline/main.js')
block content
    section.section#formulario.container.box
        include form_reserva
    section
        .container
        .columns
            .column.is-half.box
                ul#listaHorario
            .column
                .calendario.box
                    #calendar
//- 

      



//- 


   

block scripts

    script(type='text/javascript' src='/js/jquery/jquery-1.8.3.min.js' charset='UTF-8')
    script(type='text/javascript' src='/js/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript' src='/js/bootstrap-datetimepicker.js' charset='UTF-8')
    script(type='text/javascript' src='/js/locales/bootstrap-datetimepicker.fr.js' charset='UTF-8')
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")
    script(src="/javascript/userReserva.js")        