extends layout_all

block header
    include header
block content
    section.section#formulario.container.has-background-grey-lighter
        include admin_reservas
   
           
    section.section#lista.container
        .table-container
            include table_reservas
        .container
            include pagination
        


block modals
    include modals_admin

block scripts
    script(src="/javascript/admin_reservas.js")
    script(src="/javascript/enterReservas.js")
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")