table#tablaLista.table.is-fullwidth
    thead
        tr
            th(title="Posicion") # 
            th(title="Nombre") Nombre
            th(title="Codigo") Codigo
            th(title="Edificio") Edificio
            th(title="Encargado") Encargado
            th(title="capacidad") Capacidad
            th(title="Opciones") Opciones
    tbody#bodytable
        