table#tablaLista.table.is-fullwidth
    thead
        tr
            th(title="Posicion") # 
            th(title="Nombre") Nombre
                span.icon
                    i#nombreOrder.fas.fa-sort-down(ordenValue="-1")
            th(title="Codigo") Codigo
                span.icon
                    i#codigoOrder.fas.fa-sort-down(ordenValue="-1")
            th(title="Edificio") Edificio
                span.icon
                    i#edificioOrder.fas.fa-sort-down(ordenValue="-1")
            th(title="Encargado") Encargado
                span.icon
                    i#encargadoOrder.fas.fa-sort-down(ordenValue="-1")
            th(title="capacidad") Capacidad
                span.icon
                    i#capacidadOrder.fas.fa-sort-down(ordenValue="-1")
            th(title="Opciones") Opciones
                
    tbody#bodytable
        