table#tablaLista.table.is-fullwidth
    thead
        tr
            th(title="Nombre") Nombre
            th(title="Codigo") Codigo
            th(title="Edificio") Edificio
            th(title="Encargado") Encargado
            th(title="capacidad") Capacidad
    tbody