table#tablaLista.table.is-fullwidth
    thead
        tr
            th(title="Posicion") # 
            th(title="Nombre") Nombre
            th(title="Codigo") Código (carnet)
            th(title="Edificio") Email
            th(title="tipoUser") Tipo usuario
            th(title="Opciones") Opciones
                
    tbody#tableUser
       