extends layout_all
block header
    include header

block content
    .container
        include user_view

block scripts
    script(src="/javascript/configuraciones.js")
    script(src="https://kit.fontawesome.com/213e7d2279.js', crossorigin='anonymous")