.card
  .card-content
    .media
      .media-left
        object#avatarimg.image.is-rounded.is-128x128(data=`/images/user${codigo}.png` type='image/png')
          img#avatarimg.image.is-rounded.is-128x128(src=`https://bulma.io/images/placeholders/128x128.png` alt='Placeholder image')
      .media-content
        p.title.is-4 #{nombre}
        p.subtitle.is-6 #{correo}
    .content
      p Editar:
      .tabs.is-toggle
        ul
          li
            a#editm
              span.icon.is-small
                i.fas.fa-envelope
              span Mail
          li
            a#editp
              span.icon.is-small
                i.fas.fa-lock
              span Password
          li
            form#editfoto(action="/api/admin/users/upload", method="post",  enctype="multipart/form-data", onsubmit="return false", target="hidden-iframe")
              .file
                label.file-label
                  input.file-input#file-upload(type='file' name='avatar')
                  span.file-cta
                    span.file-icon
                      i.fas.fa-image
                    span.file-label
                      | Image&mldr;

              


    form#form-pass.is-hidden
      .field
        label.label.column.is-offset-1 Contraseña actual
      .control
        input#oldPass.input.column.is-offset-1.is-one-quarter(type='password' placeholder='')
      .field
        label.label.column.is-offset-1 Nueva contraseña
      .control
        input#newPass.input.column.is-offset-1.is-one-quarter(type='password' placeholder='')
      .field
        label.label.column.is-offset-1 Confirmar contraseña
      .control
        input#confirmPass.input.column.is-offset-1.is-one-quarter(type='password' placeholder='')
      .field
      label.label
      .control  
        button#saveP.button.is-success.column.is-one-fifth.is-offset-one-quarter.is-1
          span.icon
            i.fas.fa-check
          span Save

    form#form-email.is-hidden
      .field
        label.label.column.is-offset-1 Nuevo email
        
        input#newEmail.input.column.is-offset-1.is-one-quarter(type='email' placeholder= " ")
      .field
      label.label
      .control
        button#saveM.button.is-success.column.is-one-fifth.is-offset-one-quarter.is-1
          span.icon
            i.fas.fa-check
          span Save
        
iframe(name='hidden-iframe' style='display: none;')
