extends layout_all

block header
    include header
    br
block content
    section.section#formulario.container.box
        include form_users
   
           
    section.section#lista.container.box
        .table-container
            include table_users
        .container
            include pagination
        



block scripts
    script(src="/javascript/admin_users.js")
    script(src="/javascript/enterUsers.js")
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")