extends layout_all
block header
    include header

block content
    .container
        include user_view

block scripts
    script.
        var usercode = "#{codigo}";
    script(src="/javascript/configuraciones.js")
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@9")